
form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    margin: 10px 0;
}

.contenedor label {
    display: flex;
    min-width: 50%;
    justify-content: flex-end;
}

.contenedor input {
    margin: auto 25% auto 0;
    width: 50%;
    max-width: 25%;
}

